@font-face {
  font-family: 'kg-defying';
  src: url('../../assets/fonts/KGDefyingGravity.ttf');
}

.old-price {
  text-decoration: line-through;
  color: darkred;
}

.beer-img {
  width: 95px;
  position: absolute;
  top: 50px;
  right: 10px;
}


.product-card {
  width: 250px;
  border: 2px solid black;
}

.product-image {
  width: 250px;
}

.cart-button {
  position: absolute;
  top: 50px;
  right: 40px;
}

.product-card:hover {
  background: -webkit-linear-gradient(orange, yellow);
}

.footer-bar {
  display: flex;
  background: -webkit-linear-gradient(yellow, orange);
  align-items: center;
  height: 60px;
}

.product-wrapper {
  margin-left: 60px;
  width: calc(100% - 120px);
}
