<div class="title">
  <h1 class="title-text">Brewfinity</h1>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 cart-table">

    <ng-container matColumnDef="Produktname">
      <th mat-header-cell *matHeaderCellDef> Produktname</th>
      <td mat-cell *matCellDef="let element"> {{element.produktname}} </td>
    </ng-container>

    <ng-container matColumnDef="Einzelpreis">
      <th mat-header-cell *matHeaderCellDef> Einzelpreis</th>
      <td mat-cell *matCellDef="let element"> {{element.einzelpreis}} </td>
    </ng-container>

    <ng-container matColumnDef="Anzahl">
      <th mat-header-cell *matHeaderCellDef> Anzahl</th>
      <td mat-cell *matCellDef="let element"> {{element.anzahl}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button class="checkout-button">Checkout 0.00 CHF</button>

</div>
