@font-face {
  font-family: 'kg-defying';
  src: url('../../assets/fonts/KGDefyingGravity.ttf');
}

.cart-button {
  position: absolute;
  top: 50px;
  right: 40px;
}

.product-wrapper {
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: 250px;
  width: calc(100% - 500px);
  background-color: white;
}

.add-cart-button {
  margin-left: 40px;
}

.beer-info {
  display: inline-block;
  vertical-align: top;
}

img {
  margin-left: 40px;
  border: 2px solid black;
}

p {
  display: inline;
  vertical-align: top;
  margin-left: 40px;
}

.beer-title {
  font-family: sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 40px;
}

.old-price {
  text-decoration: line-through;
  color: darkred;
  margin-left: 0;
}
