/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  background-image: url("assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-family: 'kg-defying';
  font-size: 6.5em;
}

.title-text {
  margin-block-start: 50px;
  margin-block-end: 10px;
  background: -webkit-linear-gradient(orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: sans-serif;
  margin-left: 10px;
  margin-block-end: 10px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 5px;
  font-family: sans-serif;
  margin-left: 15px;
}

