<div class="title">
  <h1 class="title-text">Brewfinity</h1>
  <button mat-raised-button class="cart-button" [routerLink]="['/shopping-cart']">
    <i class="material-icons">
      shopping_cart
    </i>
    CHF 0.00
  </button>
</div>

<div class="product-wrapper">
  <mat-grid-list cols="4" rowHeight="500px">
    <mat-grid-tile *ngFor="let product of products">
      <div class="product-card" (click)="openDetails(product)">
        <img [src]="product.image" alt="product" class="product-image">
        <h3>{{product.name}}</h3>
        <p>{{product.price}} CHF</p>
        <p class="old-price">{{product.oldPrice}} CHF</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<footer class="footer-bar">
  <p class="footer-text">© 2020 BBZW, David Gataric</p>
</footer>

